* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 30px;
}

.icon-header {
    width: 60px;
    margin: 10px;
    cursor: pointer;
}

.icon-header:hover {
    transform: scale(1.3);
    transition: .5s ease-in-out;
}

.link-nav {
    text-decoration: none;
    padding: 25px;
    font-size: 24px;
    color: #FFF;

}

.link-nav:hover {
    color: #C51111;
    font-size: 23px;
    transition: .5s ease-in-out;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

#video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

#content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.container-left {
    display: inline-block;
    width: 40%;
    height: auto;
    padding: 200px 20px;
}

.logo-container-left {
    height: 200px;
    margin-left: 10px;
}

.paragraph-container-left {
    padding: 10px;
    margin-left: 20px;
    color: #FFF;
    font-size: 20px;
}

.button-container-left {
    color: #FFF;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
    padding: 10px;
    margin-top: 20px;
}

.button-container-left:hover {
    background-color: green;
    font-size: 12px;
    transition: 1s ease-in-out;
}

/* .button-container-left::after {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
} */



.mario-luigi-container-right {
    height: 500px;
    max-width: 100%;
}

.link-whatsapp img{
    height: 80px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.formulario-fale-conosco {
    background-color: #FFF;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -400px;
    padding: 50px;
    border-radius: 5px;
    border: none;
    z-index: 2;
}

.emoji-x {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    background: none;
}

.emoji-x:hover {
    transform: scale(1.4);
    transition: .5s ease-in-out;
}

/*
    Inicial:
        top - 30%
        left - -300px

    Final:
        top - 30%
        left - 50%
        transform: translate(-50%);
 */

input {
    height: 40px;
    border-radius: 5px;
    border: 1px sold gray;
    padding-left: 5px;
    outline-color: #18D80F;
}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px sold gray;
    outline-color: #18D80F;
    padding: 5px;
}

.button-form {
    color: #FFF;
    background-color: #C51111;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}

.button-form:hover {
    background-color: blue;
    font-size: 15px;
    transition: 1s ease-in-out;
}


.mascara-formulario {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    visibility: hidden;
    z-index: 1;
    transition: visibility 1s ease-in-out;
}